
@media screen and (max-width : 920px) {


}

@media screen and (max-width: 600px) {

}

						/* header */
#logo{

	margin-left: 20%;
}
.logo{
	width: 50%;
	height:50% ;
	display: inline-block;
}
nav{
	margin-right: 10%;
}
nav div ul{
	padding-top: 3%;
}

.imgheader{
	background-image: url(../image/large.jpg);
	height:38em;
	width: 100% ;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .8;
}
button{
	border-color: white !important;
}
.blanca{
	color: white;
}
h1{
	margin-top: 20%;
}
.backblue{
	background-color:blue ;
	opacity: .9;
	margin-top: 10%;
	padding: 2%;
}

/*aqui empieza ms sections */
.servicios{
	padding: 4%;
}

.pareja{
	background-image: url(../image/photothumb.db);
	height: 25em;
	width: 100% ;
	background-size: cover;
	background-repeat: no-repeat;
}

.lapRosa{
	background-image: url(../image/sec-2.jpg);
	height: 30em;
	width: 100% ;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	opacity: .7;
}
#ciel{
	font-size: 250%;
}
.ciel{
	color: lightblue;
	font-size: 100%;
	font-family: Lucida ,Helvetica;
}
.iconos{
	margin-left: -3%;
}
.azul{
	color: blue;
	font-size: 150%;
}
#line{
	width: 100%;
	margin-bottom: -8%;
	margin-left: -5%;
}
#line2{
	margin-top: -1%;
}

hr{
	height: 1%;
	width: 120%;
	margin-left: -15%;
	margin-bottom: 9%;
}
.aladerecha{
	margin-left: -2%;
}
.chicobanner{
	background-image: url(../image/banner.jpg);
	height: 25em;
	width: 100% ;
	background-size: cover;
	background-repeat: no-repeat;
}
.espacio{
	padding-bottom: 8%;
	margin-left: 3%;
	margin-right: 3%;
}
.backciel{
	background-color: lightblue;
	padding: 3%;
}

footer div{
	background-color: darkblue;
	padding: 1%;
	padding-left: 3%;
	padding-right: 3%;
}

.separar{
	padding-top: 2%;
}
.sobrepuesto{   /*para mis flechas separador*/
	margin-top: -5%;
	padding-right: 4%;
}
#sobrepuesto{
	margin-top: -3%;
}


/*agregar logos*/


/*animaciones*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-400deg);
     -moz-transform: rotate(-400deg);
       -o-transform: rotate(-400deg);
      -ms-transform: rotate(-400deg);
          transform: rotate(-400deg);
}



					